body {
    font-family: Arial, sans-serif;
}

.popup {
    display: none;
    position: fixed;
    left: 5%;
    top: 50%;
    transform: translate(-3%, -50%);
    background-color: rgba(0, 0, 0, 0.664);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(238, 236, 236);
    z-index: 1000;
    max-height: 95%;
    max-width: 95%;
    overflow: scroll;
    overflow-x: hidden;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

a {
    color: rgb(108, 195, 224);
}

a:hover {
    color: rgb(18, 168, 218);
}

.title-bar {
    width: 100%;
    margin-bottom: 15px;
    font-weight: bold;
}

.title-bar .close-btn {
    position: fixed;
    right: 22px;
    top: 16px;
    max-width: 40%;
    cursor: pointer;
    color: red;
}

.title-bar .windows-title {
    position: fixed;
    max-width: 40%;
    left: 20px;
    top: 20px;
}

.title-bar hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}